*.class

# Package Files #
#*.jar
*.war
*.ear

\!/
build/
private/
generated/
.gradle/
.nb-gradle/
.nb-gradle-properties

gradle
gradle.bat

#InteliJ IDEA
.idea/
out/
*.iml
*.iws
*.ipr
classes/

# Eclipse
.classpath
.project
.settings/
