*.class

# Package Files #
#*.jar
*.war
*.ear

!/
build/
private/
.gradle/
.nb-gradle/
.nb-gradle-properties

#InteliJ IDEA
.idea/
out/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

#directory symlinks
Client/Commons