*.class

# Package Files #
#*.jar
*.war
*.ear

\!/
build/
private/
generated/
.gradle/
.nb-gradle/
.nb-gradle-properties

gradle
gradle.bat

#InteliJ IDEA
.idea/
out/
*.iml
*.iws
*.ipr
classes/

# Eclipse
.classpath
.project
.settings/

Data/indexes
.*

#TeX auxiliary files and output
*.aux
*.log
*.out
*.synctex.gz
*.toc
Manual.pdf
DeveloperDocumentation.pdf
UserDocumentation.pdf
