#content {
	display: block;
	-fx-background-image: url("logo.png");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;
}

.menu-item-label {
	-fx-text-fill: black;
}
