.root {
	-fx-padding: 10
}

.text-flow {
}

.selected {
	-fx-effect: dropshadow(three-pass-box, lightblue, 4, 4, 0, 0);
}

.ENTITY {
	-fx-underline: true;
}

.ENTITY .ENTITY_0 {
	-fx-fill: brown;
}

.ENTITY .ENTITY_1 {
	-fx-fill: red;
}

.ENTITY .ENTITY_2 {
	-fx-fill: green;
}

.ENTITY .ENTITY_3 {
	-fx-fill: blue;
}