.root {
	-fx-padding: 10
}

.text-flow {
}

.selected {
	-fx-effect: dropshadow(three-pass-box, lightblue, 4, 4, 0, 0);
}
.RED_ENTITY {
	-fx-underline: true;
	-fx-fill: red;
}

.GREEN_ENTITY {
	-fx-underline: true;
	-fx-fill: green;
}

.BLUE_ENTITY {
	-fx-underline: true;
	-fx-fill: blue;
}