.root {
	-fx-padding: 10
}

.text-flow {
}

.selected {
	-fx-effect: dropshadow(three-pass-box, lightblue, 4, 4, 0, 0);
}

.ENTITY_0 {
	-fx-underline: true;
	-fx-fill: brown;
}

.ENTITY_1 {
	-fx-underline: true;
	-fx-fill: red;
}

.ENTITY_2 {
	-fx-underline: true;
	-fx-fill: green;
}

.ENTITY_3 {
	-fx-underline: true;
	-fx-fill: blue;
}

.RELATION_0 {
	-fx-underline: true;
	-fx-fill: pink;
}

.RELATION_1 {
	-fx-underline: true;
	-fx-fill: teal;
}
