.my-window-titlebar {
    -fx-glass-color: rgba(42, 42, 42, 0.9);
    //-fx-alignment: center;
	-fx-alignment: CENTER_LEFT;
    //-fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 30%), -fx-glass-color);
    -fx-border-color: derive(-fx-glass-color, -60%);
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-radius: 3;
    //-fx-background-radius: 3;
    //-fx-stroke: rgba(255,255,255,50);
    -fx-fill: rgba(255,255,255,50);
	//
	-fx-font-size: 21px;
    -fx-background-color: linear-gradient(#595959, #474747 37%, #343434);
    -fx-background-radius: 5 5 0 0;
}
